%h5 
  -if @document
    -# counter_cache업데이트된 값을 위해 document를 다시 읽는다.
    -doc=Document.find(@document)
    =doc.comments_count
    Comments
- @comments.each do |comment|
  %hr= comment.content
  %p
    %small.muted.pull-right
      = comment.user.userid
      &nbsp;&nbsp;
      = comment.updated_at

= paginate @comments , remote:true
      