%h5 Comments
- @comments.each do |comment|
  %hr= comment.content
  %p
    %small.muted.pull-right
      = comment.user_id
      &nbsp;&nbsp;
      = comment.updated_at

= paginate @comments , remote:true
      