= form_for [@document, @comment], remote:true  do |f|

  %br
  %input{type:"hidden" , name:"comment[user_id]" , value:session[:userid]}
  %input{type:"hidden" , name:"comment[version]" , value:"0"}

  .input-append
    %input.span6{type:"text", name:"comment[content]" , value:@comment.content}
    %button.btn{type:"submit", data:{remote:"true"} }= t :save
    = link_to "#{t :cancel}", document_comments_path(@document) , remote:true , class:"btn"