
%li.nav-header
  ADMIN 
%li.divider

%li
  %a{id:"users_manage" , href:"#{users_url}", data:{remote:true}}
    사용자관리
%li
  %a{id:"categories_manage", href:"#{categories_path}", data:{remote:true}}
    분류관리

    