- categories=Category.all

%li.nav-header
  CATEGORIES
%li.divider

%table
  - categories.each do |category|
    %tr
      %td{width:"70%"}
        %li
          %a.push-left{href:"#{documents_url(params:{category_id:category.id})}", data:{remote:true}}
            = "#{category.name}"
      %td{width:"10%"}
        %small.pull-right.label= category.documents_count

